In [1]:
import pandas as pd
import numpy as np

seed = 1234

In [2]:
df = pd.read_csv('MSCallGraph_0.csv')
df = df.drop(['Unnamed: 0','traceid','timestamp','rpcid','interface','rt',],axis=1)
df = df.replace('(?)', np.NaN)
df = df.replace('', np.NaN)
df = df.replace('NAN', np.NaN)
df = df.dropna()
df = df.drop_duplicates()

In [3]:
df

,um,rpctype,dm
0,5cca70246befb1f4c9546d2912b9419dee54439218efa5...,mc,b1dbd3a649a3cc790fa12573c9c1aa00988e07a8818a22...
11,4ab265f54516248ee8873be7d6441912456ce17e84f399...,mc,fd6d86bd0fd550e717c1fdb82a33190a9fef216d87d535...
20,5cca70246befb1f4c9546d2912b9419dee54439218efa5...,userDefined,5cca70246befb1f4c9546d2912b9419dee54439218efa5...
26,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...,rpc,84f9f68ef003a21288fffe8f9a09a5a29b05f4cc4229b8...
42,4ab265f54516248ee8873be7d6441912456ce17e84f399...,mc,01d660afcfadafd587e20ec4c04ddbc7eb0de95643ba0e...
...,...,...,...
6081607,0674d4c8b48f44a836019adff9dffe0cce2ee6e7b93ee0...,db,039ff41dc3636105ffd26b0ec675eec246a965e8102c77...
6081615,1cf86b19c487cc10ea3bb9623a319454029e040d0f4e9d...,db,bb61ac88608568ac2017c8559c1da973f4f94c7d1a958e...
6081625,2c52c868f36f3920d201fddda80c8062998ebc07ee2b85...,db,abb42d7303a4376befc681f9b4a765c6b6575de0df98ed...
6081642,1cf86b19c487cc10ea3bb9623a319454029e040d0f4e9d...,db,b0748973546ca26a9cbfe7802e52924291a76929a704a4...
6084792,5cca70246befb1f4c9546d2912b9419dee54439218efa5...,db,31a97907aa00a2d2d1445a5104bbcc47d70fa52a2370b8...

In [4]:
test_df = df

In [5]:
entities = set(df['dm']) | set(df['um'])
len(entities)

7386

In [6]:
baseline = []
for entity in entities:
    baseline.append(df[df['dm'] == entity].head(1))
    baseline.append(df[df['um'] == entity].head(1))

In [7]:
baseline_df = pd.concat(baseline)
baseline_df = baseline_df.drop_duplicates()
baseline_df

,um,rpctype,dm
2503831,4044a5c14fb439a9de91ea9e75f80d83fcc6c31590f8b4...,db,2d6b1dcbf01d1fdde33b0a2eb5ab879f6fdf35e75b2bc6...
1127506,4044a5c14fb439a9de91ea9e75f80d83fcc6c31590f8b4...,db,c3c802154a5aa92d2a47a99561a5e4c1de6e41ccefa84b...
1261299,61907af770acd8c9bd15f09fa6836818d41fd772482066...,db,25cb242047be7d4a2a30a3df327033e2a4ac89fd90e469...
781421,d03bb97862607468fe3153b28d41a20de1e3144a566264...,db,cf444b771574492ec20b97d572b5f0e896b2f30e20bf70...
45680,61907af770acd8c9bd15f09fa6836818d41fd772482066...,db,72f8a73547d48c72d606cef7b4944af71266c2e94352f8...
...,...,...,...
4218843,36fd84f1aae82d8aabe12f4c85da743e99dc0cd42b2527...,db,55cf3f0c498a1bfa5e6c5be75124c0fe9d92632e21ff53...
53470,8c738d9141d21a0a683ee50a947e543cb5049a16ea5230...,db,724360e25dd7ff89a8c59f595bdc4cae156134e4ad4cf2...
3467742,7a1c153f334a63ae491e7fbf303162576d0894933eab3d...,db,808c4c20cdabb1444bc61a05d263af477aaffb24268b98...
227814,f47283029e4108ef18a4d440a72f1433f66ed9dbe3b255...,rpc,94e09e8a1f0922c90f8eb149f5bbb940249ae3fe3c0bd1...
533645,3322acdce65a8353e2f8a32a2bf0474526cfc62c3d1328...,db,7ca4ffc113a5a49ad4c7a8db9eef62134fdfc0dcd2a822...

In [8]:
n_train_items = int(len(df)*0.64)
n_items_to_add = n_train_items - len(baseline_df)
print("the number of items to add to the train set is: ",n_items_to_add)

the number of items to add to the train set is:  2185

In [9]:
not_baseline_df = df.merge(baseline_df, how='outer', indicator=True).loc[lambda x : x['_merge']=='left_only'].drop('_merge',axis= 1)
not_baseline_df

,um,rpctype,dm
9,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...,userDefined,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...
11,4ab265f54516248ee8873be7d6441912456ce17e84f399...,rpc,091794afdcf1abbaf62404337ff72a38df96c5d8af8bd0...
12,4ab265f54516248ee8873be7d6441912456ce17e84f399...,http,091794afdcf1abbaf62404337ff72a38df96c5d8af8bd0...
19,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...,rpc,e6c95bef37d936ebb375bf135ded88c96eb9257a1d3d9d...
20,4ab265f54516248ee8873be7d6441912456ce17e84f399...,rpc,5cca70246befb1f4c9546d2912b9419dee54439218efa5...
...,...,...,...
16208,f2ff782d57371c090c294859e444ee4bdfb4b317e68368...,db,a2a5a9a0492f495f3dcc0bd933b0819cc8ac14289059d0...
16209,5019702f16bab0ec5627583db3cf7def36cbd87674088b...,db,6115254f36ed41a883d751b18e2bf78cc1c1ec76cd3da2...
16211,5b563df180af0e674902ffbeddf022580eee216f0a172f...,db,1abd717ffef1e3721f131eb3b37fc5c84fb9c52d0a42f3...
16213,9a0f0dd3e278f678cfa3f874a7c74af8206de653ec0396...,rpc,5ef671a7799d52d75c5c1b87d3542b5619c0ca7c9b3d80...
16220,5cca70246befb1f4c9546d2912b9419dee54439218efa5...,db,31a97907aa00a2d2d1445a5104bbcc47d70fa52a2370b8...

In [10]:
train_df = pd.concat([baseline_df, not_baseline_df.sample(n_items_to_add,random_state = seed)])
train_df

,um,rpctype,dm
2503831,4044a5c14fb439a9de91ea9e75f80d83fcc6c31590f8b4...,db,2d6b1dcbf01d1fdde33b0a2eb5ab879f6fdf35e75b2bc6...
1127506,4044a5c14fb439a9de91ea9e75f80d83fcc6c31590f8b4...,db,c3c802154a5aa92d2a47a99561a5e4c1de6e41ccefa84b...
1261299,61907af770acd8c9bd15f09fa6836818d41fd772482066...,db,25cb242047be7d4a2a30a3df327033e2a4ac89fd90e469...
781421,d03bb97862607468fe3153b28d41a20de1e3144a566264...,db,cf444b771574492ec20b97d572b5f0e896b2f30e20bf70...
45680,61907af770acd8c9bd15f09fa6836818d41fd772482066...,db,72f8a73547d48c72d606cef7b4944af71266c2e94352f8...
...,...,...,...
5560,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...,rpc,4ed7c6414695b486064dc4611c135492c4459ce9f3edbd...
12393,f10612cc80a4777bcb0f9025041b3e4a9d8de8b20bfd2d...,db,c4295080f8c580f6c929788ab68d53622b899d1d3de90d...
3164,aa42d395e6b2ab2146c4f60800b1463b0b4eec59147ff5...,mc,8f8da7913c052992423534e5b9f49e72b4213ea8fd10db...
10578,377f1c6e2b6c3315132d0d8dbd721dc01630e5919f39b0...,rpc,f10612cc80a4777bcb0f9025041b3e4a9d8de8b20bfd2d...
11087,4d83026c2264a59b4fea9445e00d4bae6ef02ec3dfbd27...,rpc,4d83026c2264a59b4fea9445e00d4bae6ef02ec3dfbd27...

Transductive checks

In [11]:
assert(len(set(train_df['dm']) or set(train_df['um'])) == len(set(test_df['dm']) or set(test_df['um'])))

In [12]:
assert len(set(train_df['dm'])) == len(set(test_df['dm']))

In [13]:
assert len(set(train_df['um'])) == len(set(test_df['um']))

In [14]:
assert(len(set(train_df['rpctype']))== len(set(test_df['rpctype'])))

In [15]:
remaining_df = df.merge(train_df, how='outer', indicator=True).loc[lambda x : x['_merge']=='left_only'].drop('_merge',axis= 1)

In [16]:
validation_df = pd.concat([train_df,remaining_df.sample(frac = 0.44, random_state = seed)])
validation_df

,um,rpctype,dm
2503831,4044a5c14fb439a9de91ea9e75f80d83fcc6c31590f8b4...,db,2d6b1dcbf01d1fdde33b0a2eb5ab879f6fdf35e75b2bc6...
1127506,4044a5c14fb439a9de91ea9e75f80d83fcc6c31590f8b4...,db,c3c802154a5aa92d2a47a99561a5e4c1de6e41ccefa84b...
1261299,61907af770acd8c9bd15f09fa6836818d41fd772482066...,db,25cb242047be7d4a2a30a3df327033e2a4ac89fd90e469...
781421,d03bb97862607468fe3153b28d41a20de1e3144a566264...,db,cf444b771574492ec20b97d572b5f0e896b2f30e20bf70...
45680,61907af770acd8c9bd15f09fa6836818d41fd772482066...,db,72f8a73547d48c72d606cef7b4944af71266c2e94352f8...
...,...,...,...
13051,e2350413f1606f6332ee2a2d98f09029cd454b0b216b24...,rpc,f2ff782d57371c090c294859e444ee4bdfb4b317e68368...
6395,48e8faba4a168f803d7f16abb37ff877edd589b8081166...,db,6e02c6f25dc4d71560b03ba9077de4cb37383a1ec809de...
1596,3557add998c8762136da6e3a0af6489ed6425c3d91ca9e...,rpc,648b2a0c2f0a2c60f552c18abbc9ac747657751fc8db49...
5701,24601dd8b36f856eb0a4d759866f475bc62cf843ffe092...,rpc,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...
12155,20539faa5e9e6271087ab706a900d1e854b8ebcfba9ab9...,rpc,f10612cc80a4777bcb0f9025041b3e4a9d8de8b20bfd2d...

Check to see if there is test leakage

In [17]:
assert(len(train_df)==len(pd.merge(train_df, validation_df, how='inner')))

In [18]:
assert(len(validation_df)==len(pd.merge(test_df, validation_df, how='inner')))

In [19]:
def create_triplets(df):
    triplets = []
    for i in range(len(df)):
        head = df.iloc[i]['dm']
        tail = df.iloc[i]['um']
        rel = df.iloc[i]['rpctype']
        triplets.append([head,rel,tail])
    return triplets

In [20]:
import asposecells
import jpype
jpype.startJVM()

from asposecells.api import Workbook, FileFormatType

def create_tsv(triplets, file_name):


    # Create Workbook object.
    workbook = Workbook(FileFormatType.TSV)

    # Access the first worksheet of the workbook.
    worksheet = workbook.getWorksheets().get(0)

    # Get the desired cell(s) of the worksheet and input the value into the cell(s).


    i = 1
    for elem in triplets: 
        worksheet.getCells().get("A"+str(i)).putValue(elem[0])
        worksheet.getCells().get("B"+str(i)).putValue(elem[1])
        worksheet.getCells().get("C"+str(i)).putValue(elem[2])
        i+=1


    # Save the workbook as TSV file.
    workbook.save(file_name)


    file = open(file_name,'r')  
    lines = file.readlines()  
    file.close()
    file = open(file_name,'w')  
    lines = lines[:-1]
    file.writelines(lines)
    file.close()

In [21]:
datasets = [train_df, validation_df, test_df]
names = ["train", "validation","test"]

In [22]:
for elem in zip(datasets,names):
    create_tsv(create_triplets(elem[0]),f"MSCallGraph_0_{elem[1]}_transductive.tsv")
jpype.shutdownJVM()