I am creating the transductive dataset using only one part of the entire dataset

In [1]:
import pandas as pd
import numpy as np
import zipfile

seed = 1234

In [2]:
# specify the name of the zip file and the directory to extract the contents
zip_file_name = f'MSCallGraph_0_io.zip'
extract_dir = ""

    # create a ZipFile object and extract the contents to the specified directory
with zipfile.ZipFile(zip_file_name, 'r') as zip_ref:
    zip_ref.extractall(extract_dir)

df = pd.read_csv((f'MSCallGraph_0_io.csv'))
df

,Unnamed: 0,traceid,um,rpctype,dm
0,1,0b133c1915919238193454000e5d37,5cca70246befb1f4c9546d2912b9419dee54439218efa5...,mc_out,b1dbd3a649a3cc790fa12573c9c1aa00988e07a8818a22...
1,11,0b133c1915919238193454000e5d37,4ab265f54516248ee8873be7d6441912456ce17e84f399...,mc_out,fd6d86bd0fd550e717c1fdb82a33190a9fef216d87d535...
2,20,0b133c1915919238193454000e5d37,5cca70246befb1f4c9546d2912b9419dee54439218efa5...,userDefined_out,5cca70246befb1f4c9546d2912b9419dee54439218efa5...
3,26,0b133c1915919238193454000e5d37,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...,rpc_in,84f9f68ef003a21288fffe8f9a09a5a29b05f4cc4229b8...
4,42,0b133c1915919238193454000e5d37,4ab265f54516248ee8873be7d6441912456ce17e84f399...,mc_out,01d660afcfadafd587e20ec4c04ddbc7eb0de95643ba0e...
...,...,...,...,...,...
1493464,6088803,015101cf15919238987695000e,35114acfb54c54fb9618f23cd28bbc57c765f597df1409...,rpc_out,35114acfb54c54fb9618f23cd28bbc57c765f597df1409...
1493465,6088822,0b52069415919238409694000ea18b,9a9e8613b6d7d1b573ba38dba19eec9c3cc460ab00cb49...,rpc_in,0d4e0aa3996cbc207424a87d8ce16610b7694e2fac37d7...
1493466,6088829,015101cf15919238987695000e,35114acfb54c54fb9618f23cd28bbc57c765f597df1409...,mc_out,9653f5baba69c9fb50bfb30a8571eb04dbceaae7c7f379...
1493467,6088839,0b52069415919238409694000ea18b,614c66b178d3cfe299b11254ecb4321f85beca4b2ccac8...,mc_out,4bba5c2371c3384862e69615979c2aa5b7f1b4fc3ea914...
1493468,6088842,0b52069415919238409694000ea18b,614c66b178d3cfe299b11254ecb4321f85beca4b2ccac8...,rpc_out,9a9e8613b6d7d1b573ba38dba19eec9c3cc460ab00cb49...

In [3]:
df=df.drop(['Unnamed: 0','traceid'],axis=1)
df = df.replace('(?)', np.NaN)
df = df.replace('', np.NaN)
df = df.replace('NAN', np.NaN)
df = df.dropna()
df = df.drop_duplicates()
df.nunique()

um         1443
rpctype       8
dm         7101
dtype: int64

In [4]:
df

,um,rpctype,dm
0,5cca70246befb1f4c9546d2912b9419dee54439218efa5...,mc_out,b1dbd3a649a3cc790fa12573c9c1aa00988e07a8818a22...
1,4ab265f54516248ee8873be7d6441912456ce17e84f399...,mc_out,fd6d86bd0fd550e717c1fdb82a33190a9fef216d87d535...
2,5cca70246befb1f4c9546d2912b9419dee54439218efa5...,userDefined_out,5cca70246befb1f4c9546d2912b9419dee54439218efa5...
3,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...,rpc_in,84f9f68ef003a21288fffe8f9a09a5a29b05f4cc4229b8...
4,4ab265f54516248ee8873be7d6441912456ce17e84f399...,mc_out,01d660afcfadafd587e20ec4c04ddbc7eb0de95643ba0e...
...,...,...,...
1491967,0674d4c8b48f44a836019adff9dffe0cce2ee6e7b93ee0...,db_out,039ff41dc3636105ffd26b0ec675eec246a965e8102c77...
1491969,1cf86b19c487cc10ea3bb9623a319454029e040d0f4e9d...,db_out,bb61ac88608568ac2017c8559c1da973f4f94c7d1a958e...
1491973,2c52c868f36f3920d201fddda80c8062998ebc07ee2b85...,db_out,abb42d7303a4376befc681f9b4a765c6b6575de0df98ed...
1491980,1cf86b19c487cc10ea3bb9623a319454029e040d0f4e9d...,db_out,b0748973546ca26a9cbfe7802e52924291a76929a704a4...
1492659,5cca70246befb1f4c9546d2912b9419dee54439218efa5...,db_out,31a97907aa00a2d2d1445a5104bbcc47d70fa52a2370b8...

In [5]:
entities = set(df['dm']) | set(df['um'])
len(entities)

7164

In [6]:
baseline = []
for entity in entities:
    baseline.append(df[df['dm'] == entity].head(1))
    baseline.append(df[df['um'] == entity].head(1))

In [7]:
baseline_df = pd.concat(baseline)
baseline_df = baseline_df.drop_duplicates()
baseline_df

,um,rpctype,dm
55481,f2a3d47651ebfb07d08d1561bd209055ff9124fc7fdcc2...,db_out,7a0235d90d0991c24a03610bbcad528051ae04858938e3...
4749,2be3b98bfce0e36bfa57f93d594bb1e183b434540c5bce...,rpc_out,740ac3930b8bfd6e0f7277b1b30f99fc783b341dbef559...
550190,61907af770acd8c9bd15f09fa6836818d41fd772482066...,db_out,e5ffd4112fcd44208fa5cc66107caabe3c7b446a7f159c...
105190,0696938ae3212896c34626b3816d92ca5b0bed0cfda981...,db_out,799256e2e08d455ea11ec23f73e03a9e50ce90af347281...
174208,20539faa5e9e6271087ab706a900d1e854b8ebcfba9ab9...,db_out,a709c2675be788027f0968bdb1df9119833982941f1314...
...,...,...,...
104989,20539faa5e9e6271087ab706a900d1e854b8ebcfba9ab9...,db_out,056f5ec10a437ea3d672a322145a74d66022ed0987a621...
293557,5cca70246befb1f4c9546d2912b9419dee54439218efa5...,db_out,3b2b9fbfe696c9aa13593c0649208790da7bc62476af5a...
331524,bd60497bdc74d1c37bed34adc5bf20df15b378dd863baf...,db_out,42bb70d7f3855904a508fc8307b2a986da099658a0a5e1...
626816,45eb683e440943a0245375d475e16e2353fa05faf1a621...,db_out,b5cb3d8dffe8769564daa4dd0497559c666c6fa46d9571...
20809,f9014fe2e1ad08400d71587fd3d9d8d3e19846d8b7e74e...,db_out,2db3711c9c1c5cf1f9c4b348ab6dac02bf137bb8b757d7...

In [8]:
n_train_items = int(len(df)*0.64)
n_items_to_add = n_train_items - len(baseline_df)
print("the number of items to add to the train set is: ",n_items_to_add)

the number of items to add to the train set is:  3635

In [9]:
not_baseline_df = df.merge(baseline_df, how='outer', indicator=True).loc[lambda x : x['_merge']=='left_only'].drop('_merge',axis= 1)
not_baseline_df

,um,rpctype,dm
9,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...,userDefined_out,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...
11,20119b0b7869f98acb0f0f7557893474a7b84c34e50ec6...,rpc_in,4ab265f54516248ee8873be7d6441912456ce17e84f399...
12,4ab265f54516248ee8873be7d6441912456ce17e84f399...,rpc_out,091794afdcf1abbaf62404337ff72a38df96c5d8af8bd0...
13,4ab265f54516248ee8873be7d6441912456ce17e84f399...,http_out,091794afdcf1abbaf62404337ff72a38df96c5d8af8bd0...
19,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...,rpc_in,e6c95bef37d936ebb375bf135ded88c96eb9257a1d3d9d...
...,...,...,...
18043,5cca70246befb1f4c9546d2912b9419dee54439218efa5...,db_out,d15e2debad8baf9ed11e4e11e32876a6f934240929b220...
18044,5019702f16bab0ec5627583db3cf7def36cbd87674088b...,db_out,6115254f36ed41a883d751b18e2bf78cc1c1ec76cd3da2...
18046,5b563df180af0e674902ffbeddf022580eee216f0a172f...,db_out,1abd717ffef1e3721f131eb3b37fc5c84fb9c52d0a42f3...
18048,9a0f0dd3e278f678cfa3f874a7c74af8206de653ec0396...,rpc_out,5ef671a7799d52d75c5c1b87d3542b5619c0ca7c9b3d80...
18055,5cca70246befb1f4c9546d2912b9419dee54439218efa5...,db_out,31a97907aa00a2d2d1445a5104bbcc47d70fa52a2370b8...

In [10]:
not_baseline_train = not_baseline_df.sample(n_items_to_add,random_state = seed)
train_df = pd.concat([baseline_df, not_baseline_train])
train_df

,um,rpctype,dm
55481,f2a3d47651ebfb07d08d1561bd209055ff9124fc7fdcc2...,db_out,7a0235d90d0991c24a03610bbcad528051ae04858938e3...
4749,2be3b98bfce0e36bfa57f93d594bb1e183b434540c5bce...,rpc_out,740ac3930b8bfd6e0f7277b1b30f99fc783b341dbef559...
550190,61907af770acd8c9bd15f09fa6836818d41fd772482066...,db_out,e5ffd4112fcd44208fa5cc66107caabe3c7b446a7f159c...
105190,0696938ae3212896c34626b3816d92ca5b0bed0cfda981...,db_out,799256e2e08d455ea11ec23f73e03a9e50ce90af347281...
174208,20539faa5e9e6271087ab706a900d1e854b8ebcfba9ab9...,db_out,a709c2675be788027f0968bdb1df9119833982941f1314...
...,...,...,...
1212,b58ba81e712e15281eb93074ed026a844f5100024d91b2...,rpc_out,0696938ae3212896c34626b3816d92ca5b0bed0cfda981...
4612,4dd620e520ac12d81d17e010ef3997bd0e6abce62b1308...,mc_out,d09611da4823f4bfdb340db4e8d94161aa789093bf667e...
3533,cc718bfa5ddbce7507f211839771c920ec19ec1ec4c8c9...,mc_out,e1f11d9031eaec515791840d9cbe8e1d1f472e576bd81b...
7287,3f536c63409832088b0f54b1b15a4859a88487dded536f...,mc_out,9db2b33559de5c955d8583df93bcd23f612e0b587a6dcd...
16314,cfad1cf9c6b241e81436edda1cf71d6c3b2fe7cf35a7ea...,rpc_out,273ab562e5b930887de6eeb565910412067edcd7655826...

In [11]:
remaining_df = not_baseline_df.drop(not_baseline_train.index)

In [12]:
validation_df = remaining_df.sample(frac = 0.44, random_state = seed)
validation_df

,um,rpctype,dm
17565,40ffc05267de09b1b99d51f5630097d4006548d60a5de0...,mq_in,90c357ca77801f0d38c1f4cffa2e3d51ef7b1fca91ae35...
6543,9b7b30616525532484baf3da15a6384178cbe0173bab21...,rpc_out,3cab0a98767379fbcd059750c07ec42dbd0374cb114e0f...
4929,95a6f7f8345e2eca31ee74ddc19d547e7fc0f5c8e65772...,rpc_out,5ba2be786dc249dc3b3cda596a4d121f55a1dcb75b399d...
3449,13e0e37bade0b29ce2c99e506b542f9659039995b98ec4...,mq_in,48e8faba4a168f803d7f16abb37ff877edd589b8081166...
6976,388c2211b1eb35577369a5f8f727c957f6ad07d703ba80...,rpc_in,3cab0a98767379fbcd059750c07ec42dbd0374cb114e0f...
...,...,...,...
15639,d680950b029230261f4e2bd4f2134bcd9e519b152d595e...,rpc_in,f10612cc80a4777bcb0f9025041b3e4a9d8de8b20bfd2d...
4347,23bdd392279c3f7f575cdcca6c022c7403272aea434e9e...,mc_out,46a6d5047ff9337b34dbdf42c07843d60367ece052e92e...
1609,530a42c55ed7f9999e26fb2b97a2c53d593cda13c20965...,rpc_out,530a42c55ed7f9999e26fb2b97a2c53d593cda13c20965...
2028,9a3ef4d24dd4e7fb8baaa9e30aea1395caa50f583630f6...,mc_out,c964e78e1ee643babee3c48807207a39596bdc816e5ceb...
8387,20539faa5e9e6271087ab706a900d1e854b8ebcfba9ab9...,db_out,fb27d3d2df2210602d51ac6a5445153e6890caa37c4836...

In [13]:
test_df = remaining_df.drop(validation_df.index)  # drop the sampled rows to get the second DataFram
test_df

,um,rpctype,dm
19,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...,rpc_in,e6c95bef37d936ebb375bf135ded88c96eb9257a1d3d9d...
25,4ab265f54516248ee8873be7d6441912456ce17e84f399...,userDefined_out,4ab265f54516248ee8873be7d6441912456ce17e84f399...
41,73eab0278dbf5ccb67f1c303b0770627c6223871c4874f...,rpc_in,3cab0a98767379fbcd059750c07ec42dbd0374cb114e0f...
47,95a6f7f8345e2eca31ee74ddc19d547e7fc0f5c8e65772...,rpc_out,3cab0a98767379fbcd059750c07ec42dbd0374cb114e0f...
50,614c66b178d3cfe299b11254ecb4321f85beca4b2ccac8...,rpc_out,9a9e8613b6d7d1b573ba38dba19eec9c3cc460ab00cb49...
...,...,...,...
18037,0be5b730b8229e496783019c9853654337e3d342ceb279...,rpc_out,f10612cc80a4777bcb0f9025041b3e4a9d8de8b20bfd2d...
18039,b39889af09ab89f4a7918a534348e405b52260bf198a43...,rpc_out,80df1ad95e41fc8fdef7671b6dd89e6b7ee5c982038a07...
18041,f2ff782d57371c090c294859e444ee4bdfb4b317e68368...,db_out,a2a5a9a0492f495f3dcc0bd933b0819cc8ac14289059d0...
18044,5019702f16bab0ec5627583db3cf7def36cbd87674088b...,db_out,6115254f36ed41a883d751b18e2bf78cc1c1ec76cd3da2...
18048,9a0f0dd3e278f678cfa3f874a7c74af8206de653ec0396...,rpc_out,5ef671a7799d52d75c5c1b87d3542b5619c0ca7c9b3d80...

Transductive checks

In [14]:
train_entities = set(train_df['dm']) or set(train_df['um'])
valid_entities = set(validation_df['dm']) or set(validation_df['um'])
test_entities = set(test_df['dm']) or set(test_df['um'])

In [15]:
assert(valid_entities.issubset(train_entities))

In [16]:
assert(test_entities.issubset(train_entities))

In [17]:
train_relations = set(train_df['rpctype'])
valid_relations = set(validation_df['rpctype'])
test_relations = set(test_df['rpctype'])

In [18]:
assert(valid_relations.issubset(train_relations))

In [19]:
assert(test_relations.issubset(train_relations))

Check to see if there is test leakage

In [20]:
assert(0==len(pd.merge(train_df, validation_df)))

In [21]:
assert(0==len(pd.merge(train_df, test_df)))

In [22]:
assert(0==len(pd.merge(test_df, validation_df)))

In [23]:
def create_triplets(df):
    triplets = []
    for i in range(len(df)):
        head = df.iloc[i]['dm']
        tail = df.iloc[i]['um']
        rel = df.iloc[i]['rpctype']
        triplets.append([head,rel,tail])
    return triplets

In [24]:
import asposecells
import jpype
jpype.startJVM()

from asposecells.api import Workbook, FileFormatType

def create_tsv(triplets, file_name):


    # Create Workbook object.
    workbook = Workbook(FileFormatType.TSV)

    # Access the first worksheet of the workbook.
    worksheet = workbook.getWorksheets().get(0)

    # Get the desired cell(s) of the worksheet and input the value into the cell(s).


    i = 1
    for elem in triplets: 
        worksheet.getCells().get("A"+str(i)).putValue(elem[0])
        worksheet.getCells().get("B"+str(i)).putValue(elem[1])
        worksheet.getCells().get("C"+str(i)).putValue(elem[2])
        i+=1


    # Save the workbook as TSV file.
    workbook.save(file_name)


    file = open(file_name,'r')  
    lines = file.readlines()  
    file.close()
    file = open(file_name,'w')  
    lines = lines[:-1]
    file.writelines(lines)
    file.close()

In [25]:
datasets = [train_df, validation_df, test_df]
names = ["train", "validation","test"]

In [26]:
for elem in zip(datasets,names):
    create_tsv(create_triplets(elem[0]),f"MSCallGraph_0_{elem[1]}_transductive_io.tsv")
jpype.shutdownJVM()