In [1]:
import pandas as pd
import numpy as np

seed = 1234

In [2]:
df = pd.read_csv('MSCallGraph_joined_io.csv')
df

,traceid,um,rpctype,dm
0,0b133c1915919238193454000e5d37,5cca70246befb1f4c9546d2912b9419dee54439218efa5...,mc_out,b1dbd3a649a3cc790fa12573c9c1aa00988e07a8818a22...
1,0b133c1915919238193454000e5d37,4ab265f54516248ee8873be7d6441912456ce17e84f399...,mc_out,fd6d86bd0fd550e717c1fdb82a33190a9fef216d87d535...
2,0b133c1915919238193454000e5d37,5cca70246befb1f4c9546d2912b9419dee54439218efa5...,userDefined_out,5cca70246befb1f4c9546d2912b9419dee54439218efa5...
3,0b133c1915919238193454000e5d37,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...,rpc_in,84f9f68ef003a21288fffe8f9a09a5a29b05f4cc4229b8...
4,0b133c1915919238193454000e5d37,4ab265f54516248ee8873be7d6441912456ce17e84f399...,mc_out,01d660afcfadafd587e20ec4c04ddbc7eb0de95643ba0e...
...,...,...,...,...
222509712,0b14339415919667189434000e499f,24601dd8b36f856eb0a4d759866f475bc62cf843ffe092...,rpc_out,2abd05990aa9eb81a3eaa333829ec355eaee57fbecc9e8...
222509713,0b14339415919667189434000e499f,24601dd8b36f856eb0a4d759866f475bc62cf843ffe092...,rpc_in,24601dd8b36f856eb0a4d759866f475bc62cf843ffe092...
222509714,0b14339415919667189434000e499f,24601dd8b36f856eb0a4d759866f475bc62cf843ffe092...,rpc_in,643bce6326e327bb36361c31d1ad0cf9ee8d5767175482...
222509715,0b14339415919667189434000e499f,643bce6326e327bb36361c31d1ad0cf9ee8d5767175482...,rpc_out,e9916393b398199ef017f67a1904dd9c30323405c6f77c...
222509716,0b5218dd15919665521188000eff6c,95a6f7f8345e2eca31ee74ddc19d547e7fc0f5c8e65772...,rpc_out,e6c95bef37d936ebb375bf135ded88c96eb9257a1d3d9d...

In [3]:
df = df.drop(['traceid'],axis=1)

NameError: name 'dr' is not defined

In [4]:
df = df.drop_duplicates()
df

,um,rpctype,dm
0,5cca70246befb1f4c9546d2912b9419dee54439218efa5...,mc_out,b1dbd3a649a3cc790fa12573c9c1aa00988e07a8818a22...
1,4ab265f54516248ee8873be7d6441912456ce17e84f399...,mc_out,fd6d86bd0fd550e717c1fdb82a33190a9fef216d87d535...
2,5cca70246befb1f4c9546d2912b9419dee54439218efa5...,userDefined_out,5cca70246befb1f4c9546d2912b9419dee54439218efa5...
3,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...,rpc_in,84f9f68ef003a21288fffe8f9a09a5a29b05f4cc4229b8...
4,4ab265f54516248ee8873be7d6441912456ce17e84f399...,mc_out,01d660afcfadafd587e20ec4c04ddbc7eb0de95643ba0e...
...,...,...,...
222400013,24601dd8b36f856eb0a4d759866f475bc62cf843ffe092...,rpc_in,1224ab4a5244545b7333a290aaccc95e49f2a793457d21...
222400014,1224ab4a5244545b7333a290aaccc95e49f2a793457d21...,db_out,1ac258b5230c8d9dfb28dcad1ced301a9b475b58b37025...
222447693,cc89071de722ad78455c531ebeefab3380ed933ffcd0c8...,rpc_in,159eafe7e8d59656f3f1b913cca6b8fb0127e62a7019f5...
222467609,5d887bdb9fd24cea365fb7ce018526df1d39b11630081b...,db_out,8ee7c139f721a23915ca012d2518eddbdc7ad1ced8b3da...
222483686,7a1c153f334a63ae491e7fbf303162576d0894933eab3d...,db_out,608da6f2e6cca140f117b24b8e2e7a69d116bd7b0aa6c4...

In [5]:
entities = set(df['dm']) | set(df['um'])
len(entities)

16444

In [6]:
baseline = []
for entity in entities:
    baseline.append(df[df['dm'] == entity].head(1))
    baseline.append(df[df['um'] == entity].head(1))

In [7]:
baseline_df = pd.concat(baseline)
baseline_df = baseline_df.drop_duplicates()
baseline_df

,um,rpctype,dm
14146,73eab0278dbf5ccb67f1c303b0770627c6223871c4874f...,db_out,613fb43e001f357f7a457ec098e2556e8f5168c4383efc...
76197882,57aebee9555ff56f0b6eab3050865ee6da58d4eaeaf5ba...,rpc_out,941b6d9604222d82d9f1ccb3c069a4fed3750069313b7d...
76197873,941b6d9604222d82d9f1ccb3c069a4fed3750069313b7d...,rpc_out,f2a3d47651ebfb07d08d1561bd209055ff9124fc7fdcc2...
471,b58ba81e712e15281eb93074ed026a844f5100024d91b2...,rpc_in,b58ba81e712e15281eb93074ed026a844f5100024d91b2...
448,b58ba81e712e15281eb93074ed026a844f5100024d91b2...,mc_out,c964e78e1ee643babee3c48807207a39596bdc816e5ceb...
...,...,...,...
28526167,07c40f6f4a29d1b17feed986aed2e42760eb434a8177c1...,db_out,bc646a8c3a8850ddc12758edac4f406955ee031c296c4e...
162917842,17b2aa2ff8ca1795f1f3923682ffc1a646ed32bb9db06e...,db_out,b64f76737f3d5255fd27541f380e62813694518980b215...
646341,1dc217ff1f239c985ebecdc8285e034b4bcae568d65af9...,db_out,64272ea8eaeb982b035893db1d3e070a95edc3f82d4dac...
14677,df8e9873a8e78bebbdf2ff71c6a092cc664bb6f3c3a873...,db_out,94de3c62a7cb914c4a1393341ac4273061eff0a7b048bb...
510346,1a46ec965872a5fd7c6e142f74941d99f3dd09fe71d0ce...,db_out,d10befbf45212d2c71ed4dc5f2d5250287d8098cf2f380...

In [8]:
n_train_items = int(len(df)*0.64)
n_items_to_add = n_train_items - len(baseline_df)
print("the number of items to add to the train set is: ",n_items_to_add)

the number of items to add to the train set is:  22963

In [9]:
not_baseline_df = df.merge(baseline_df, how='outer', indicator=True).loc[lambda x : x['_merge']=='left_only'].drop('_merge',axis= 1)
not_baseline_df

,um,rpctype,dm
9,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...,userDefined_out,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...
11,20119b0b7869f98acb0f0f7557893474a7b84c34e50ec6...,rpc_in,4ab265f54516248ee8873be7d6441912456ce17e84f399...
12,4ab265f54516248ee8873be7d6441912456ce17e84f399...,rpc_out,091794afdcf1abbaf62404337ff72a38df96c5d8af8bd0...
13,4ab265f54516248ee8873be7d6441912456ce17e84f399...,http_out,091794afdcf1abbaf62404337ff72a38df96c5d8af8bd0...
19,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...,rpc_in,e6c95bef37d936ebb375bf135ded88c96eb9257a1d3d9d...
...,...,...,...
64864,eb7ce54148779f812f2c7f07f18ef4ed269043b9f6b959...,db_out,db984ae0fed93d22fbcca65eb1ec1b25b4faa71167c580...
64865,24601dd8b36f856eb0a4d759866f475bc62cf843ffe092...,rpc_in,1224ab4a5244545b7333a290aaccc95e49f2a793457d21...
64867,cc89071de722ad78455c531ebeefab3380ed933ffcd0c8...,rpc_in,159eafe7e8d59656f3f1b913cca6b8fb0127e62a7019f5...
64868,5d887bdb9fd24cea365fb7ce018526df1d39b11630081b...,db_out,8ee7c139f721a23915ca012d2518eddbdc7ad1ced8b3da...
64869,7a1c153f334a63ae491e7fbf303162576d0894933eab3d...,db_out,608da6f2e6cca140f117b24b8e2e7a69d116bd7b0aa6c4...

In [10]:
not_baseline_train = not_baseline_df.sample(n_items_to_add,random_state = seed)
train_df = pd.concat([baseline_df, not_baseline_train])
train_df

,um,rpctype,dm
14146,73eab0278dbf5ccb67f1c303b0770627c6223871c4874f...,db_out,613fb43e001f357f7a457ec098e2556e8f5168c4383efc...
76197882,57aebee9555ff56f0b6eab3050865ee6da58d4eaeaf5ba...,rpc_out,941b6d9604222d82d9f1ccb3c069a4fed3750069313b7d...
76197873,941b6d9604222d82d9f1ccb3c069a4fed3750069313b7d...,rpc_out,f2a3d47651ebfb07d08d1561bd209055ff9124fc7fdcc2...
471,b58ba81e712e15281eb93074ed026a844f5100024d91b2...,rpc_in,b58ba81e712e15281eb93074ed026a844f5100024d91b2...
448,b58ba81e712e15281eb93074ed026a844f5100024d91b2...,mc_out,c964e78e1ee643babee3c48807207a39596bdc816e5ceb...
...,...,...,...
58389,35c56101f54b77bf06b6ba688e09f401e13c906576fd7b...,db_out,54051d5ad7a223e239c7f993b5d414a31ff16ffec22842...
42795,5f3cd749ad44311b45da979c0b14517019690e8587f6f7...,rpc_in,820d792605059d1c40fe6f34e105b99ae046197bf8f3c8...
54405,fb1dc665d2cce93dd583d61d9565a6826a8c3ac27075e9...,rpc_in,f10612cc80a4777bcb0f9025041b3e4a9d8de8b20bfd2d...
52076,379e23daa893e9f183169734b12ee6c2ca81ca05d270a8...,rpc_out,7d53863bd1aa3d9e1fe4a8b4ff37800da75b3144796adc...
21400,12bc3fe2791d9f2946a74114ff349795461e695a099ae3...,db_out,602a6be26f558ff812d49d6d8d2ea216236a769ed06971...

In [11]:
remaining_df = not_baseline_df.drop(not_baseline_train.index)

In [12]:
validation_df = remaining_df.sample(frac = 0.44, random_state = seed)
validation_df

,um,rpctype,dm
26941,19612380d038043e051cf922650c420311bc292cdc32c5...,rpc_out,561cfc0625d5c797528d6a9027c8198b39915b221ac2b7...
51232,bf4db78123a0031936185b2f2387d4bec7212905459eed...,db_out,04d03e7464b4ba98cc19756bcda54140553ff84a67a384...
45693,d849617ba403c352dbc8a444ee366dbca049d4a49cd49b...,rpc_in,a2f4cc0518d7224f846bcf6efcf46be5c37f2c2045bf84...
5550,8ca2865ffd758cda9104100aa8a7d8cd23357d17d54621...,rpc_in,23bdd392279c3f7f575cdcca6c022c7403272aea434e9e...
39710,2024dd56b448408239935e936c2207dd15fcdb98e4b7c6...,db_out,d9c63ef9e4abef1240824ab1a2f503c5406a4e5244b964...
...,...,...,...
7749,a9cd30c90ea19c56f4cd480ff0c31461a7934c0500c447...,rpc_in,d2c895bd5c7de55f381310fd1b94ce9d518bf4ac22e22f...
25211,dad93363c30d440df0bae043024a1367f25475c8501ede...,rpc_in,3322acdce65a8353e2f8a32a2bf0474526cfc62c3d1328...
6851,0e196e772ff517533a7396537ab970729fbbc9ae2f5685...,mc_out,2720b0db4803852457cc9fa53872f47f65f872a476e6f4...
17625,86562d64f056f9c8c58aecf349f090a30d1e5dd397fa2c...,mc_out,c964e78e1ee643babee3c48807207a39596bdc816e5ceb...
25121,2a09adc8a37f54458ed37036663a9974ef1ede2329f6cd...,rpc_in,9a3ef4d24dd4e7fb8baaa9e30aea1395caa50f583630f6...

In [13]:
test_df = remaining_df.drop(validation_df.index)  # drop the sampled rows to get the second DataFram
test_df

,um,rpctype,dm
11,20119b0b7869f98acb0f0f7557893474a7b84c34e50ec6...,rpc_in,4ab265f54516248ee8873be7d6441912456ce17e84f399...
12,4ab265f54516248ee8873be7d6441912456ce17e84f399...,rpc_out,091794afdcf1abbaf62404337ff72a38df96c5d8af8bd0...
13,4ab265f54516248ee8873be7d6441912456ce17e84f399...,http_out,091794afdcf1abbaf62404337ff72a38df96c5d8af8bd0...
20,4ab265f54516248ee8873be7d6441912456ce17e84f399...,rpc_out,5cca70246befb1f4c9546d2912b9419dee54439218efa5...
57,75e56c8fbb9336eb4dd40f5f609d5344203d374d73fd0b...,rpc_in,b53f8e2c1722bba4f5819ecf0d6d1dc522825977126aee...
...,...,...,...
64846,bc529ee59852e87efa2e41286d68dc59c973bbf8131324...,rpc_out,99f2e7b501f50db9b4089242a5d3e1aba334c32e0c718b...
64848,c7da4297c678a12e5298bbebed6599928424f56cf4b1e1...,db_out,5ff3630fb1b1eb87e7501f7ca3a73e8cd55121a63a1d5c...
64859,0e196e772ff517533a7396537ab970729fbbc9ae2f5685...,db_out,dfc72b449a65283e6038992b83a9fd2aef4a62444f1250...
64860,8c668296f4ee5134867e07e2196acd9e2f76181bc6983a...,db_out,1ef3e9820a0cd97ef806a682fa6484d44758aaa46290ba...
64868,5d887bdb9fd24cea365fb7ce018526df1d39b11630081b...,db_out,8ee7c139f721a23915ca012d2518eddbdc7ad1ced8b3da...

Transductive checks

In [14]:
train_entities = set(train_df['dm']) or set(train_df['um'])
valid_entities = set(validation_df['dm']) or set(validation_df['um'])
test_entities = set(test_df['dm']) or set(test_df['um'])

In [15]:
assert(valid_entities.issubset(train_entities))

In [16]:
assert(test_entities.issubset(train_entities))

In [17]:
train_relations = set(train_df['rpctype'])
valid_relations = set(validation_df['rpctype'])
test_relations = set(test_df['rpctype'])

In [18]:
assert(valid_relations.issubset(train_relations))

In [19]:
assert(test_relations.issubset(train_relations))

Check to see if there is test leakage

In [20]:
assert(0==len(pd.merge(train_df, validation_df)))

In [21]:
assert(0==len(pd.merge(train_df, test_df)))

In [22]:
assert(0==len(pd.merge(test_df, validation_df)))

In [23]:
def create_triplets(df):
    triplets = []
    for i in range(len(df)):
        head = df.iloc[i]['dm']
        tail = df.iloc[i]['um']
        rel = df.iloc[i]['rpctype']
        triplets.append([head,rel,tail])
    return triplets

In [25]:
def create_tsv(triplets, file_name):
    with open(file_name, 'w') as file:
        for elem in triplets: 
            file.write(f'{elem[0]}	{elem[1]}	{elem[2]}\n')
        file.close()

In [26]:
datasets = [train_df, validation_df, test_df]
names = ["train", "validation","test"]

In [27]:
for elem in zip(datasets,names):
    create_tsv(create_triplets(elem[0]),f"MSCallGraph_{elem[1]}_transductive_io.tsv")